<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="/static/css/form_login/style.css">
<!--===============================================================================================-->
</head>
<body>
<div class="login-page">
	<div class="form">
	<form action="/registrar_pessoa" method="post" class="register-form">
		<input type="text" placeholder="login" name="login">
		<input type="password" placeholder="senha" name="senha">
		<input type="text" placeholder="ID" name="rfid">
		<button>Registrar</button>
		<p class="message">Já cadastrado? <a href="#">Entrar</a></p>
	</form>
	<form action=/login class="login-form">
		<input type="text" placeholder="login" name="login">
		<input type="password" placeholder="senha" name="senha">
		<button>Entrar</button>
		<p class="message">Não registrado? <a href="#">Registre-se</a></p>
	</form>
	</div>
</div>
<!--===============================================================================================-->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script  src="/static/js/script.js"></script>
</body>
</html>