<html>
<head>
	<meta name="charset" content="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
<title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="/static/css_form_login/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css_form_login/form_login.css">
<body>
    <div class="loginbox">
    <img src="/static/css_form_login/avatar.png" class="avatar">
        <h1>Entrada no Sistema</h1>
        <form>
            <p>Usuário</p>
            <input type="text" name="" placeholder="Insira seu Login">
            <p>Senha</p>
            <input type="password" name="" placeholder="Insira sua Senha">
            <input type="submit" name="" value="Entrar">
            <a href="#">Esqueceu seu login?</a><br>
            <a href="#">Esqueceu sua senha?</a><br>
            <a href="#">Não é cadastrado no sistema?</a>
        </form>
    </div>

</body>
</head>
</html>