<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de pessoa</title>
	
	<style type="text/css">

		body {
			background-image: url("/static/mine.png");
			background-repeat: no-repeat;
			background-size: cover;
			overflow-x: hidden;
			text-align: center;
		}

	</style>

</head>
<body>
	
	<h1>Cadastro:</h1><br>
	<form action="/cadastrar_pessoa" method="POST">
		Nome: <input type="text" name="nome"><br><br>
		Endereço <input type="" name=""><br><br>
		<input type="submit" value="Cadastrar">
	</form>
	<br>
	<a href="/">Cancelar</a>

</body>
</html>